html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: lighter;
  background: gainsboro;
}

.svg-loader {
  pointer-events: none;
  height: 15%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
  opacity: 0;
}

.show-svg {
  opacity: 1;
}

#threeJS {
  width: 100%;
  height: 100%;
}

.gui {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  left: 20px;
  top: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 3px -1px 12px -2px grey;
}

.delete-figure {
  padding: 2px;
  background-color: grey;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
  transition: .4s;
  &:hover{
    opacity: .6;
  }
}

.container-select-figures {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 3px -1px 12px -2px grey;
}